  
@{
    ViewBag.Title = "عمده داران | کفش عمده | تامین کفش از بزرگترین کارخانه های کفش ایران";
    Layout = "~/Views/Master/Master.cshtml";
}
    
<div class="content-area">

    <!-- PAGE -->
    <section class="page-section no-padding-bottom">
        <div class="container">

            <div class="row main-slider-row">

                <div class="col-md-9 slider">
                    <div class="main-slider">
                        <div class="owl-carousel" id="main-slider">

                            <!-- Slide 1 -->
                            <div class="item slide1">
                                <img class="slide-img" src="~/assets/img/preview/slider/slide-3-sub.jpg" alt="عمده داران" />
                                <div class="caption">
                                    <div class="container">
                                        <div class="div-table">
                                            <div class="div-cell">
                                                <div class="caption-content" style="font-family:iransans;">
                                                    <h2 class="caption-title" style="font-size: 37px;">تخفیف بالا در خرید</h2>
                                                    <h3 class="caption-subtitle" style="font-size: 51px;">کتانی ورزشی</h3>
                                                    <p class="caption-text">
                                                        <a class="btn btn-theme" href="#">همین الان بخرید</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /Slide 1 -->
                            <!-- Slide 2 -->
                            <div class="item slide2 alt">
                                <img class="slide-img" src="~/assets/img/preview/slider/slide-3-sub.jpg" alt="عمده داران" />
                                <div class="caption">
                                    <div class="container">
                                        <div class="div-table">
                                            <div class="div-cell">
                                                <div class="caption-content">
                                                    <h2 class="caption-title">فروش کتانی ورزشی</h2>
                                                    <h3 class="caption-subtitle"><span>فروش ویژه بهاره</span></h3>
                                                    <div class="price">
                                                        <span>ریال</span><ins>159000</ins>
                                                        <span>ریال</span><del>180000</del>
                                                    </div>
                                                    <p class="caption-text">
                                                        <a class="btn btn-theme" href="#">همین الان بخرید</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /Slide 2 -->
                            <!-- Slide 3 -->
                            <div class="item slide3 dark">
                                <img class="slide-img" src="~/assets/img/preview/slider/slide-3a-sub.jpg" alt="عمده داران" />
                                <div class="caption">
                                    <div class="container">
                                        <div class="div-table">
                                            <div class="div-cell">
                                                <div class="caption-content">
                                                    <h2 class="caption-title">فروش کتانی</h2>
                                                    <h3 class="caption-subtitle"><span>فروش ویژه بهاره</span></h3>
                                                    <p class="caption-text">
                                                        <a class="btn btn-theme" href="#">خرید فوری</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /Slide 3 -->

                        </div>
                    </div>
                </div>

                <div class="col-md-3 sidebar">
                    <!-- widget shop categories -->
                    <div class="widget shop-categories">
                        <h4 class="widget-title">دسته بندی ها</h4>
                        <div class="widget-content">
                            <ul>
                                <li>
                                    <span class="arrow"><i class="fa fa-angle-down"></i></span>
                                    <a href="#">زنانه</a>
                                    <ul class="children">
                                        <li>
                                            <a href="#">
                                                کفش
                                                <span class="count">12</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                کتانی
                                                <span class="count">12</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                صندل
                                                <span class="count">12</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                سرپایی
                                                <span class="count">12</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                بوت و نیم بوت
                                                <span class="count">12</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <span class="arrow"><i class="fa fa-angle-down"></i></span>
                                    <a href="#">مردانه</a>
                                    <ul class="children">
                                        <li>
                                            <a href="#">
                                                کفش
                                                <span class="count">12</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                کتانی
                                                <span class="count">12</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                صندل
                                                <span class="count">12</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                سرپایی
                                                <span class="count">12</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                بوت و نیم بوت
                                                <span class="count">12</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <span class="arrow"><i class="fa fa-angle-down"></i></span>
                                    <a href="#">دخترانه</a>
                                    <ul class="children">
                                        <li>
                                            <a href="#">
                                                کفش
                                                <span class="count">12</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                کتانی
                                                <span class="count">12</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                صندل
                                                <span class="count">12</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                سرپایی
                                                <span class="count">12</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                بوت و نیم بوت
                                                <span class="count">12</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <span class="arrow"><i class="fa fa-angle-down"></i></span>
                                    <a href="#">پسرانه</a>
                                    <ul class="children">
                                        <li>
                                            <a href="#">
                                                کفش
                                                <span class="count">12</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                کتانی
                                                <span class="count">12</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                صندل
                                                <span class="count">12</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                سرپایی
                                                <span class="count">12</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                بوت و نیم بوت
                                                <span class="count">12</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <span class="arrow"><i class="fa fa-angle-down"></i></span>
                                    <a href="#">نقلی</a>
                                    <ul class="children">
                                        <li>
                                            <a href="#">
                                                کفش
                                                <span class="count">12</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                کتانی
                                                <span class="count">12</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                صندل
                                                <span class="count">12</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                سرپایی
                                                <span class="count">12</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="#">فروش ویژه</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /widget shop categories -->
                </div>

            </div>

        </div>
    </section>
    <!-- /PAGE -->
    <!-- PAGE -->
    <section class="page-section">
        <div class="container">
            <div class="row">
                <!-- right -->
                <div class="col-md-6">
                    <div class="thumbnail no-border no-padding thumbnail-banner size-1x3">
                        <div class="media">
                            <a class="media-link" href="#">
                                <div class="img-bg" style="background-image: url('assets/img/preview/shop/banner-1.jpg')"></div>
                                <div class="caption">
                                    <div class="caption-wrapper div-table">
                                        <div class="caption-inner div-cell">
                                            <h2 class="caption-title"><span>کفش مجلسی</span></h2>
                                            <h3 class="caption-sub-title"><span>مردانه</span></h3>
                                            <span class="btn btn-theme btn-theme-sm">همین الان بخرید</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- right -->
                <!-- left -->
                <div class="col-md-6">
                    <div class="thumbnail no-border no-padding thumbnail-banner size-1x3">
                        <div class="media">
                            <a class="media-link" href="#">
                                <div class="img-bg" style="background-image: url('assets/img/preview/shop/banner-2.jpg')"></div>
                                <div class="caption text-left">
                                    <div class="caption-wrapper div-table">
                                        <div class="caption-inner div-cell">
                                            <h2 class="caption-title"><span>کفش مجلسی</span></h2>
                                            <h3 class="caption-sub-title"><span>زنانه</span></h3>
                                            <span class="btn btn-theme btn-theme-sm">همین الان بخرید</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- left -->
            </div>
        </div>
    </section>
    <!-- /PAGE -->
    <!-- PAGE -->
    <section class="page-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="product-list">
                        <a class="btn btn-theme btn-title-more" href="#">مشاهده همه</a>
                        <h4 class="block-title"><span>پر فروش ها</span></h4>
                        <div class="media">
                            <a class="pull-right media-link" href="#">
                                <img class="media-object" src="~/assets/img/preview/shop/top-sellers-1.jpg" alt="">
                                <i class="fa fa-plus"></i>
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#">عنوان محصول</a></h4>
                                <div class="rating">
                                    <span class="star"></span>
                                    <!--
                                        -->
                                    <span class="star active"></span>
                                    <!--
                                        -->
                                    <span class="star active"></span>
                                    <!--
                                        -->
                                    <span class="star active"></span>
                                    <!--
                                        -->
                                    <span class="star active"></span>
                                </div>
                                <div class="price"><ins>300.000 تومان</ins> <del>325.000</del></div>
                            </div>
                        </div>
                        <div class="media">
                            <a class="pull-right media-link" href="#">
                                <img class="media-object" src="~/assets/img/preview/shop/top-sellers-2.jpg" alt="">
                                <i class="fa fa-plus"></i>
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#">عنوان محصول</a></h4>
                                <div class="rating">
                                    <span class="star"></span>
                                    <!--
                                        -->
                                    <span class="star active"></span>
                                    <!--
                                        -->
                                    <span class="star active"></span>
                                    <!--
                                        -->
                                    <span class="star active"></span>
                                    <!--
                                        -->
                                    <span class="star active"></span>
                                </div>
                                <div class="price"><ins>300.000 تومان</ins> <del>325.000</del></div>
                            </div>
                        </div>
                        <div class="media">
                            <a class="pull-right media-link" href="#">
                                <img class="media-object" src="~/assets/img/preview/shop/top-sellers-3.jpg" alt="">
                                <i class="fa fa-plus"></i>
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#">عنوان محصول</a></h4>
                                <div class="rating">
                                    <span class="star"></span>
                                    <!--
                                        -->
                                    <span class="star active"></span>
                                    <!--
                                        -->
                                    <span class="star active"></span>
                                    <!--
                                        -->
                                    <span class="star active"></span>
                                    <!--
                                        -->
                                    <span class="star active"></span>
                                </div>
                                <div class="price"><ins>300.000 تومان</ins> <del>325.000</del></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="product-list">
                        <a class="btn btn-theme btn-title-more" href="#">مشاهده همه</a>
                        <h4 class="block-title"><span>برگزیده ها</span></h4>
                        <div class="media">
                            <a class="pull-right media-link" href="#">
                                <img class="media-object" src="~/assets/img/preview/shop/top-sellers-4.jpg" alt="">
                                <i class="fa fa-plus"></i>
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#">عنوان محصول</a></h4>
                                <div class="rating">
                                    <span class="star"></span>
                                    <!--
                                        -->
                                    <span class="star active"></span>
                                    <!--
                                        -->
                                    <span class="star active"></span>
                                    <!--
                                        -->
                                    <span class="star active"></span>
                                    <!--
                                        -->
                                    <span class="star active"></span>
                                </div>
                                <div class="price"><ins>300.000 تومان</ins> <del>325.000</del></div>
                            </div>
                        </div>
                        <div class="media">
                            <a class="pull-right media-link" href="#">
                                <img class="media-object" src="~/assets/img/preview/shop/top-sellers-5.jpg" alt="">
                                <i class="fa fa-plus"></i>
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#">عنوان محصول</a></h4>
                                <div class="rating">
                                    <span class="star"></span>
                                    <!--
                                        -->
                                    <span class="star active"></span>
                                    <!--
                                        -->
                                    <span class="star active"></span>
                                    <!--
                                        -->
                                    <span class="star active"></span>
                                    <!--
                                        -->
                                    <span class="star active"></span>
                                </div>
                                <div class="price"><ins>300.000 تومان</ins> <del>325.000</del></div>
                            </div>
                        </div>
                        <div class="media">
                            <a class="pull-right media-link" href="#">
                                <img class="media-object" src="~/assets/img/preview/shop/top-sellers-6.jpg" alt="">
                                <i class="fa fa-plus"></i>
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#">عنوان محصول</a></h4>
                                <div class="rating">
                                    <span class="star"></span>
                                    <!--
                                        -->
                                    <span class="star active"></span>
                                    <!--
                                        -->
                                    <span class="star active"></span>
                                    <!--
                                        -->
                                    <span class="star active"></span>
                                    <!--
                                        -->
                                    <span class="star active"></span>
                                </div>
                                <div class="price"><ins>300.000 تومان</ins> <del>325.000</del></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="product-list">
                        <a class="btn btn-theme btn-title-more" href="#">مشاهده همه</a>
                        <h4 class="block-title"><span>جدید ترین ها</span></h4>
                        <div class="media">
                            <a class="pull-right media-link" href="#">
                                <img class="media-object" src="~/assets/img/preview/shop/top-sellers-7.jpg" alt="">
                                <i class="fa fa-plus"></i>
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#">عنوان محصول</a></h4>
                                <div class="rating">
                                    <span class="star"></span>
                                    <!--
                                        -->
                                    <span class="star active"></span>
                                    <!--
                                        -->
                                    <span class="star active"></span>
                                    <!--
                                        -->
                                    <span class="star active"></span>
                                    <!--
                                        -->
                                    <span class="star active"></span>
                                </div>
                                <div class="price"><ins>300.000 تومان</ins> <del>325.000</del></div>
                            </div>
                        </div>
                        <div class="media">
                            <a class="pull-right media-link" href="#">
                                <img class="media-object" src="~/assets/img/preview/shop/top-sellers-8.jpg" alt="">
                                <i class="fa fa-plus"></i>
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#">عنوان محصول</a></h4>
                                <div class="rating">
                                    <span class="star"></span>
                                    <!--
                                        -->
                                    <span class="star active"></span>
                                    <!--
                                        -->
                                    <span class="star active"></span>
                                    <!--
                                        -->
                                    <span class="star active"></span>
                                    <!--
                                        -->
                                    <span class="star active"></span>
                                </div>
                                <div class="price"><ins>300.000 تومان</ins> <del>325.000</del></div>
                            </div>
                        </div>
                        <div class="media">
                            <a class="pull-right media-link" href="#">
                                <img class="media-object" src="~/assets/img/preview/shop/top-sellers-9.jpg" alt="">
                                <i class="fa fa-plus"></i>
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#">عنوان محصول</a></h4>
                                <div class="rating">
                                    <span class="star"></span>
                                    <!--
                                        -->
                                    <span class="star active"></span>
                                    <!--
                                        -->
                                    <span class="star active"></span>
                                    <!--
                                        -->
                                    <span class="star active"></span>
                                    <!--
                                        -->
                                    <span class="star active"></span>
                                </div>
                                <div class="price"><ins>300.000 تومان</ins> <del>325.000</del></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /PAGE -->
    <!-- PAGE -->
    <section class="page-section">
        <div class="container">
            <div class="message-box">
                <div class="message-box-inner">
                    <h2>تخفیف ویژه در خرید های بالای 30 کارتن</h2>
                </div>
            </div>
        </div>
    </section>
    <!-- /PAGE -->
    <!-- PAGE -->
    <section class="page-section">
        <div class="container">

            <div class="tabs">
                <ul id="tabs" class="nav nav-justified-off">
                    <!---->
                    <li class=""><a href="#tab-1" data-toggle="tab">برگزیده ها</a></li>
                    <!---->
                    <li class="active"><a href="#tab-2" data-toggle="tab">جدید ترین ها</a></li>
                    <!---->
                    <li class=""><a href="#tab-3" data-toggle="tab">پر فروش ها</a></li>
                </ul>
            </div>

            <div class="tab-content">

                <!-- tab 1 -->
                <div class="tab-pane fade" id="tab-1">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="thumbnail no-border no-padding">
                                <div class="media">
                                    <a class="media-link" data-gal="prettyPhoto" href="assets/img/preview/shop/product-1-big.jpg">
                                        <img src="~/assets/img/preview/shop/product-3.jpg" alt="عمده داران" />
                                        <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                                    </a>
                                </div>
                                <div class="caption text-center">
                                    <h4 class="caption-title"><a href="product-details.html">عنوان محصول</a></h4>
                                    <div class="rating">
                                        <span class="star"></span>
                                        <!--
                                            -->
                                        <span class="star active"></span>
                                        <!--
                                            -->
                                        <span class="star active"></span>
                                        <!--
                                            -->
                                        <span class="star active"></span>
                                        <!--
                                            -->
                                        <span class="star active"></span>
                                    </div>
                                    <div class="price"><ins>300.000 تومان</ins> <del>325.000</del></div>
                                    <div class="buttons">
                                        <a class="btn btn-theme btn-theme-transparent btn-wish-list" href="#"><i class="fa fa-heart"></i></a>
                                        <!--
                                            -->
                                        <a class="btn btn-theme btn-theme-transparent btn-icon-left" href="#"><i class="fa fa-shopping-cart"></i>افزودن به سبد خرید</a>
                                        <!--
                                            -->
                                        <a class="btn btn-theme btn-theme-transparent btn-compare" href="#"><i class="fa fa-exchange"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="thumbnail no-border no-padding">
                                <div class="media">
                                    <a class="media-link" data-gal="prettyPhoto" href="assets/img/preview/shop/product-1-big.jpg">
                                        <img src="~/assets/img/preview/shop/product-4.jpg" alt="" />
                                        <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                                    </a>
                                </div>
                                <div class="caption text-center">
                                    <h4 class="caption-title"><a href="product-details.html">عنوان محصول</a></h4>
                                    <div class="rating">
                                        <span class="star"></span>
                                        <!--
                                            -->
                                        <span class="star active"></span>
                                        <!--
                                            -->
                                        <span class="star active"></span>
                                        <!--
                                            -->
                                        <span class="star active"></span>
                                        <!--
                                            -->
                                        <span class="star active"></span>
                                    </div>
                                    <div class="price"><ins>300.000 تومان</ins> <del>325.000</del></div>
                                    <div class="buttons">
                                        <a class="btn btn-theme btn-theme-transparent btn-wish-list" href="#"><i class="fa fa-heart"></i></a>
                                        <!--
                                            -->
                                        <a class="btn btn-theme btn-theme-transparent btn-icon-left" href="#"><i class="fa fa-shopping-cart"></i>افزودن به سبد خرید</a>
                                        <!--
                                            -->
                                        <a class="btn btn-theme btn-theme-transparent btn-compare" href="#"><i class="fa fa-exchange"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="thumbnail no-border no-padding">
                                <div class="media">
                                    <a class="media-link" data-gal="prettyPhoto" href="assets/img/preview/shop/product-1-big.jpg">
                                        <img src="~/assets/img/preview/shop/product-1.jpg" alt="" />
                                        <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                                    </a>
                                </div>
                                <div class="caption text-center">
                                    <h4 class="caption-title"><a href="product-details.html">عنوان محصول</a></h4>
                                    <div class="rating">
                                        <span class="star"></span>
                                        <!--
                                            -->
                                        <span class="star active"></span>
                                        <!--
                                            -->
                                        <span class="star active"></span>
                                        <!--
                                            -->
                                        <span class="star active"></span>
                                        <!--
                                            -->
                                        <span class="star active"></span>
                                    </div>
                                    <div class="price"><ins>300.000 تومان</ins> <del>325.000</del></div>
                                    <div class="buttons">
                                        <a class="btn btn-theme btn-theme-transparent btn-wish-list" href="#"><i class="fa fa-heart"></i></a>
                                        <!--
                                            -->
                                        <a class="btn btn-theme btn-theme-transparent btn-icon-left" href="#"><i class="fa fa-shopping-cart"></i>افزودن به سبد خرید</a>
                                        <!--
                                            -->
                                        <a class="btn btn-theme btn-theme-transparent btn-compare" href="#"><i class="fa fa-exchange"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="thumbnail no-border no-padding">
                                <div class="media">
                                    <a class="media-link" data-gal="prettyPhoto" href="assets/img/preview/shop/product-1-big.jpg">
                                        <img src="~/assets/img/preview/shop/product-2.jpg" alt="" />
                                        <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                                    </a>
                                </div>
                                <div class="caption text-center">
                                    <h4 class="caption-title"><a href="product-details.html">عنوان محصول</a></h4>
                                    <div class="rating">
                                        <span class="star"></span>
                                        <!--
                                            -->
                                        <span class="star active"></span>
                                        <!--
                                            -->
                                        <span class="star active"></span>
                                        <!--
                                            -->
                                        <span class="star active"></span>
                                        <!--
                                            -->
                                        <span class="star active"></span>
                                    </div>
                                    <div class="price"><ins>300.000 تومان</ins> <del>325.000</del></div>
                                    <div class="buttons">
                                        <a class="btn btn-theme btn-theme-transparent btn-wish-list" href="#"><i class="fa fa-heart"></i></a>
                                        <!--
                                            -->
                                        <a class="btn btn-theme btn-theme-transparent btn-icon-left" href="#"><i class="fa fa-shopping-cart"></i>افزودن به سبد خرید</a>
                                        <!--
                                            -->
                                        <a class="btn btn-theme btn-theme-transparent btn-compare" href="#"><i class="fa fa-exchange"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- tab 2 -->
                <div class="tab-pane fade active in" id="tab-2">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="thumbnail no-border no-padding">
                                <div class="media">
                                    <a class="media-link" data-gal="prettyPhoto" href="assets/img/preview/shop/product-1-big.jpg">
                                        <img src="~/assets/img/preview/shop/product-1.jpg" alt="" />
                                        <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                                    </a>
                                </div>
                                <div class="caption text-center">
                                    <h4 class="caption-title"><a href="product-details.html">عنوان محصول</a></h4>
                                    <div class="rating">
                                        <span class="star"></span>
                                        <!--
                                            -->
                                        <span class="star active"></span>
                                        <!--
                                            -->
                                        <span class="star active"></span>
                                        <!--
                                            -->
                                        <span class="star active"></span>
                                        <!--
                                            -->
                                        <span class="star active"></span>
                                    </div>
                                    <div class="price"><ins>300.000 تومان</ins> <del>325.000</del></div>
                                    <div class="buttons">
                                        <a class="btn btn-theme btn-theme-transparent btn-wish-list" href="#"><i class="fa fa-heart"></i></a>
                                        <!--
                                            -->
                                        <a class="btn btn-theme btn-theme-transparent btn-icon-left" href="#"><i class="fa fa-shopping-cart"></i>افزودن به سبد خرید</a>
                                        <!--
                                            -->
                                        <a class="btn btn-theme btn-theme-transparent btn-compare" href="#"><i class="fa fa-exchange"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="thumbnail no-border no-padding">
                                <div class="media">
                                    <a class="media-link" data-gal="prettyPhoto" href="assets/img/preview/shop/product-1-big.jpg">
                                        <img src="~/assets/img/preview/shop/product-2.jpg" alt="" />
                                        <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                                    </a>
                                </div>
                                <div class="caption text-center">
                                    <h4 class="caption-title"><a href="product-details.html">عنوان محصول</a></h4>
                                    <div class="rating">
                                        <span class="star"></span>
                                        <!--
                                            -->
                                        <span class="star active"></span>
                                        <!--
                                            -->
                                        <span class="star active"></span>
                                        <!--
                                            -->
                                        <span class="star active"></span>
                                        <!--
                                            -->
                                        <span class="star active"></span>
                                    </div>
                                    <div class="price"><ins>300.000 تومان</ins> <del>325.000</del></div>
                                    <div class="buttons">
                                        <a class="btn btn-theme btn-theme-transparent btn-wish-list" href="#"><i class="fa fa-heart"></i></a>
                                        <!--
                                            -->
                                        <a class="btn btn-theme btn-theme-transparent btn-icon-left" href="#"><i class="fa fa-shopping-cart"></i>افزودن به سبد خرید</a>
                                        <!--
                                            -->
                                        <a class="btn btn-theme btn-theme-transparent btn-compare" href="#"><i class="fa fa-exchange"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="thumbnail no-border no-padding">
                                <div class="media">
                                    <a class="media-link" data-gal="prettyPhoto" href="assets/img/preview/shop/product-1-big.jpg">
                                        <img src="~/assets/img/preview/shop/product-3.jpg" alt="" />
                                        <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                                    </a>
                                </div>
                                <div class="caption text-center">
                                    <h4 class="caption-title"><a href="product-details.html">عنوان محصول</a></h4>
                                    <div class="rating">
                                        <span class="star"></span>
                                        <!--
                                            -->
                                        <span class="star active"></span>
                                        <!--
                                            -->
                                        <span class="star active"></span>
                                        <!--
                                            -->
                                        <span class="star active"></span>
                                        <!--
                                            -->
                                        <span class="star active"></span>
                                    </div>
                                    <div class="price"><ins>300.000 تومان</ins> <del>325.000</del></div>
                                    <div class="buttons">
                                        <a class="btn btn-theme btn-theme-transparent btn-wish-list" href="#"><i class="fa fa-heart"></i></a>
                                        <!--
                                            -->
                                        <a class="btn btn-theme btn-theme-transparent btn-icon-left" href="#"><i class="fa fa-shopping-cart"></i>افزودن به سبد خرید</a>
                                        <!--
                                            -->
                                        <a class="btn btn-theme btn-theme-transparent btn-compare" href="#"><i class="fa fa-exchange"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="thumbnail no-border no-padding">
                                <div class="media">
                                    <a class="media-link" data-gal="prettyPhoto" href="assets/img/preview/shop/product-1-big.jpg">
                                        <img src="~/assets/img/preview/shop/product-4.jpg" alt="" />
                                        <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                                    </a>
                                </div>
                                <div class="caption text-center">
                                    <h4 class="caption-title"><a href="product-details.html">عنوان محصول</a></h4>
                                    <div class="rating">
                                        <span class="star"></span>
                                        <!--
                                            -->
                                        <span class="star active"></span>
                                        <!--
                                            -->
                                        <span class="star active"></span>
                                        <!--
                                            -->
                                        <span class="star active"></span>
                                        <!--
                                            -->
                                        <span class="star active"></span>
                                    </div>
                                    <div class="price"><ins>300.000 تومان</ins> <del>325.000</del></div>
                                    <div class="buttons">
                                        <a class="btn btn-theme btn-theme-transparent btn-wish-list" href="#"><i class="fa fa-heart"></i></a>
                                        <!--
                                            -->
                                        <a class="btn btn-theme btn-theme-transparent btn-icon-left" href="#"><i class="fa fa-shopping-cart"></i>افزودن به سبد خرید</a>
                                        <!--
                                            -->
                                        <a class="btn btn-theme btn-theme-transparent btn-compare" href="#"><i class="fa fa-exchange"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- tab 3 -->
                <div class="tab-pane fade" id="tab-3">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="thumbnail no-border no-padding">
                                <div class="media">
                                    <a class="media-link" data-gal="prettyPhoto" href="assets/img/preview/shop/product-1-big.jpg">
                                        <img src="~/assets/img/preview/shop/product-2.jpg" alt="" />
                                        <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                                    </a>
                                </div>
                                <div class="caption text-center">
                                    <h4 class="caption-title"><a href="product-details.html">عنوان محصول</a></h4>
                                    <div class="rating">
                                        <span class="star"></span>
                                        <!--
                                            -->
                                        <span class="star active"></span>
                                        <!--
                                            -->
                                        <span class="star active"></span>
                                        <!--
                                            -->
                                        <span class="star active"></span>
                                        <!--
                                            -->
                                        <span class="star active"></span>
                                    </div>
                                    <div class="price"><ins>300.000 تومان</ins> <del>325.000</del></div>
                                    <div class="buttons">
                                        <a class="btn btn-theme btn-theme-transparent btn-wish-list" href="#"><i class="fa fa-heart"></i></a>
                                        <!--
                                            -->
                                        <a class="btn btn-theme btn-theme-transparent btn-icon-left" href="#"><i class="fa fa-shopping-cart"></i>افزودن به سبد خرید</a>
                                        <!--
                                            -->
                                        <a class="btn btn-theme btn-theme-transparent btn-compare" href="#"><i class="fa fa-exchange"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="thumbnail no-border no-padding">
                                <div class="media">
                                    <a class="media-link" data-gal="prettyPhoto" href="assets/img/preview/shop/product-1-big.jpg">
                                        <img src="~/assets/img/preview/shop/product-3.jpg" alt="" />
                                        <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                                    </a>
                                </div>
                                <div class="caption text-center">
                                    <h4 class="caption-title"><a href="product-details.html">عنوان محصول</a></h4>
                                    <div class="rating">
                                        <span class="star"></span>
                                        <!--
                                            -->
                                        <span class="star active"></span>
                                        <!--
                                            -->
                                        <span class="star active"></span>
                                        <!--
                                            -->
                                        <span class="star active"></span>
                                        <!--
                                            -->
                                        <span class="star active"></span>
                                    </div>
                                    <div class="price"><ins>300.000 تومان</ins> <del>325.000</del></div>
                                    <div class="buttons">
                                        <a class="btn btn-theme btn-theme-transparent btn-wish-list" href="#"><i class="fa fa-heart"></i></a>
                                        <!--
                                            -->
                                        <a class="btn btn-theme btn-theme-transparent btn-icon-left" href="#"><i class="fa fa-shopping-cart"></i>افزودن به سبد خرید</a>
                                        <!--
                                            -->
                                        <a class="btn btn-theme btn-theme-transparent btn-compare" href="#"><i class="fa fa-exchange"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="thumbnail no-border no-padding">
                                <div class="media">
                                    <a class="media-link" data-gal="prettyPhoto" href="assets/img/preview/shop/product-1-big.jpg">
                                        <img src="~/assets/img/preview/shop/product-4.jpg" alt="" />
                                        <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                                    </a>
                                </div>
                                <div class="caption text-center">
                                    <h4 class="caption-title"><a href="product-details.html">عنوان محصول</a></h4>
                                    <div class="rating">
                                        <span class="star"></span>
                                        <!--
                                            -->
                                        <span class="star active"></span>
                                        <!--
                                            -->
                                        <span class="star active"></span>
                                        <!--
                                            -->
                                        <span class="star active"></span>
                                        <!--
                                            -->
                                        <span class="star active"></span>
                                    </div>
                                    <div class="price"><ins>300.000 تومان</ins> <del>325.000</del></div>
                                    <div class="buttons">
                                        <a class="btn btn-theme btn-theme-transparent btn-wish-list" href="#"><i class="fa fa-heart"></i></a>
                                        <!--
                                            -->
                                        <a class="btn btn-theme btn-theme-transparent btn-icon-left" href="#"><i class="fa fa-shopping-cart"></i>افزودن به سبد خرید</a>
                                        <!--
                                            -->
                                        <a class="btn btn-theme btn-theme-transparent btn-compare" href="#"><i class="fa fa-exchange"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="thumbnail no-border no-padding">
                                <div class="media">
                                    <a class="media-link" data-gal="prettyPhoto" href="assets/img/preview/shop/product-1-big.jpg">
                                        <img src="~/assets/img/preview/shop/product-1.jpg" alt="" />
                                        <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                                    </a>
                                </div>
                                <div class="caption text-center">
                                    <h4 class="caption-title"><a href="product-details.html">عنوان محصول</a></h4>
                                    <div class="rating">
                                        <span class="star"></span>
                                        <!--
                                            -->
                                        <span class="star active"></span>
                                        <!--
                                            -->
                                        <span class="star active"></span>
                                        <!--
                                            -->
                                        <span class="star active"></span>
                                        <!--
                                            -->
                                        <span class="star active"></span>
                                    </div>
                                    <div class="price"><ins>300.000 تومان</ins> <del>325.000</del></div>
                                    <div class="buttons">
                                        <a class="btn btn-theme btn-theme-transparent btn-wish-list" href="#"><i class="fa fa-heart"></i></a>
                                        <!--
                                            -->
                                        <a class="btn btn-theme btn-theme-transparent btn-icon-left" href="#"><i class="fa fa-shopping-cart"></i>افزودن به سبد خرید</a>
                                        <!--
                                            -->
                                        <a class="btn btn-theme btn-theme-transparent btn-compare" href="#"><i class="fa fa-exchange"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>
    <!-- /PAGE -->
    <!-- PAGE -->
    <section class="page-section">
        <div class="container">
            <a class="btn btn-theme btn-title-more btn-icon-left" href="#"><i class="fa fa-file-text-o"></i>مشاهده همه ی اطلاعیه ها</a>
            <h2 class="block-title"><span>اطلاعیه های جدید</span></h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="recent-post">
                        <div class="media">
                            <a class="pull-right media-link" href="#">
                                <img class="media-object" src="~/assets/img/preview/blog/recent-post-1.jpg" alt="">
                                <i class="fa fa-plus"></i>
                            </a>
                            <div class="media-body">
                                <p class="media-category"><a href="#">Shoes</a> / <a href="#">Dress</a></p>
                                <h4 class="media-heading"><a href="#">Standard Post Comment Header Here</a></h4>
                                Fusce gravida interdum eros a mollis. Sed non lorem varius, volutpat nisl in, laoreet ante.
                                <div class="media-meta">
                                    6th June 2014
                                    <span class="divider">/</span><a href="#"><i class="fa fa-comment"></i>27</a>
                                    <span class="divider">/</span><a href="#"><i class="fa fa-heart"></i>18</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="recent-post">
                        <div class="media">
                            <a class="pull-right media-link" href="#">
                                <img class="media-object" src="~/assets/img/preview/blog/recent-post-2.jpg" alt="">
                                <i class="fa fa-plus"></i>
                            </a>
                            <div class="media-body">
                                <p class="media-category"><a href="#">Wedding</a> / <a href="#">Meeting</a></p>
                                <h4 class="media-heading"><a href="#">Standard Post Comment Header Here</a></h4>
                                Fusce gravida interdum eros a mollis. Sed non lorem varius, volutpat nisl in, laoreet ante.
                                <div class="media-meta">
                                    6th June 2014
                                    <span class="divider">/</span><a href="#"><i class="fa fa-comment"></i>27</a>
                                    <span class="divider">/</span><a href="#"><i class="fa fa-heart"></i>18</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="recent-post">
                        <div class="media">
                            <a class="pull-right media-link" href="#">
                                <img class="media-object" src="~/assets/img/preview/blog/recent-post-3.jpg" alt="">
                                <i class="fa fa-plus"></i>
                            </a>
                            <div class="media-body">
                                <p class="media-category"><a href="#">Children</a> / <a href="#">Kids</a></p>
                                <h4 class="media-heading"><a href="#">Standard Post Comment Header Here</a></h4>
                                Fusce gravida interdum eros a mollis. Sed non lorem varius, volutpat nisl in, laoreet ante.
                                <div class="media-meta">
                                    6th June 2014
                                    <span class="divider">/</span><a href="#"><i class="fa fa-comment"></i>27</a>
                                    <span class="divider">/</span><a href="#"><i class="fa fa-heart"></i>18</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="recent-post">
                        <div class="media">
                            <a class="pull-right media-link" href="#">
                                <img class="media-object" src="~/assets/img/preview/blog/recent-post-4.jpg" alt="">
                                <i class="fa fa-plus"></i>
                            </a>
                            <div class="media-body">
                                <p class="media-category"><a href="#">Man</a> / <a href="#">Accessories</a></p>
                                <h4 class="media-heading"><a href="#">Standard Post Comment Header Here</a></h4>
                                Fusce gravida interdum eros a mollis. Sed non lorem varius, volutpat nisl in, laoreet ante.
                                <div class="media-meta">
                                    6th June 2014
                                    <span class="divider">/</span><a href="#"><i class="fa fa-comment"></i>27</a>
                                    <span class="divider">/</span><a href="#"><i class="fa fa-heart"></i>18</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /PAGE -->
    <!-- PAGE -->
    <section class="page-section">
        <div class="container">
            <h2 class="section-title"><span>تولید کنندگان</span></h2>
            <div class="partners-carousel">
                <div class="owl-carousel" id="partners">
                    <div>
                        <a href="#"><img src="~/assets/img/preview/partners/brand-logo-1.jpg" alt="" /></a>
                    </div>
                    <div>
                        <a href="#"><img src="~/assets/img/preview/partners/brand-logo-2.jpg" alt="" /></a>
                    </div>
                    <div>
                        <a href="#"><img src="~/assets/img/preview/partners/brand-logo-3.jpg" alt="" /></a>
                    </div>
                    <div>
                        <a href="#"><img src="~/assets/img/preview/partners/brand-logo-4.jpg" alt="" /></a>
                    </div>
                    <div>
                        <a href="#"><img src="~/assets/img/preview/partners/brand-logo-5.jpg" alt="" /></a>
                    </div>
                    <div>
                        <a href="#"><img src="~/assets/img/preview/partners/brand-logo-1.jpg" alt="" /></a>
                    </div>
                    <div>
                        <a href="#"><img src="~/assets/img/preview/partners/brand-logo-2.jpg" alt="" /></a>
                    </div>
                    <div>
                        <a href="#"><img src="~/assets/img/preview/partners/brand-logo-3.jpg" alt="" /></a>
                    </div>
                    <div>
                        <a href="#"><img src="~/assets/img/preview/partners/brand-logo-4.jpg" alt="" /></a>
                    </div>
                    <div>
                        <a href="#"><img src="~/assets/img/preview/partners/brand-logo-5.jpg" alt="" /></a>
                    </div>
                    <div>
                        <a href="#"><img src="~/assets/img/preview/partners/brand-logo-1.jpg" alt="" /></a>
                    </div>
                    <div>
                        <a href="#"><img src="~/assets/img/preview/partners/brand-logo-2.jpg" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- /PAGE -->


</div>

