
@{
    ViewBag.Title = "قوانین و مقررات - عمده داران";
    Layout = "~/Views/Master/Master.cshtml";
}

<!-- CONTENT AREA -->
<div class="content-area">

    <!-- BREADCRUMBS -->
    <section class="page-section breadcrumbs">
        <div class="container">
            <div class="page-header">
                <h1>قوانین و مقررات</h1>
            </div>
            <ul class="breadcrumb"></ul>
        </div>
    </section>
    <!-- /BREADCRUMBS -->
    <!-- PAGE -->
    <section class="page-section color">
        <div class="container">

            <p class="text-center lead">ضمن تشکر از انتخاب فروشگاه اینترنتی عمده داران ، از آنجا که استفاده از این سایت به هر شکل به معنای قبول شرایط مندرج در بخش قوانین عمده داران است، تقاضا می شود آن را به دقت مطالعه فرمایید.</p>
            <p class="text-center lead">ورود شما به سایت عمده داران هنگام استفاده از پروفایل شخصی ، خرید و سایر خدمات ارائه شده توسط سایت عمده داران به معنای قبول قوانین و همچنین دانستن نحوه استفاده از سرویس ها و خدمات سایت می باشد .</p>
            <hr class="page-divider" />
            <p class="text-center lead">
                <strong>قوانین عمومی :</strong><br>توجه داشته باشید کلیه اصول و رویه های سایت عمده داران منطبق با قوانین جمهوری اسلامی ایران ، قانون تجارت الکترونیک و قانون حمایت از مصرف کننده است و متعاقبا نیز موظف به رعایت قوانین مرتبط با کاربر
                است .
            </p>
            <p class="text-center lead">قبل از ثبت سفارش</p>
            <p class="text-center lead">
                <ul>
                    <li>
                        قبل از سفارش ،اطلاعات درج شده برای محصول مورد نظر را به دقت مطالعه فرمایید .
                    </li>
                    <li>
                        روز کاری به معنای شنبه تا پنج شنبه هر هفته به استثنای تعطیلات عمومی در ایران است و کلیه سفارش های ثبت شده در طول روزهای کاری و اولین روز پس از تعطیلات پردازش می شوند . بدیهی است که مشتریان در 7 روز هفته و 24 ساعت شبانه روز امکان سفارش گذاری دارند .
                    </li>
                    <li>
                        تمامی محصولات قبل از ارسال توسط واحد کنترل نهایی عمده داران بررسی شده و در صورت مغایرت، به کارخانه عودت داده می شود. لذا هر گونه برگشت از خرید به علت مغایرت کالا با سفارش قابل قبول نمی باشد.
                    </li>
                    <li>
                        خریداران باید هنگام ثبت سفارش کالای مورد نظر ، فرم سفارش را با اطلاعات صحیح و به طور کامل تکمیل کنند . بدیهی است در صورت ورود اطلاعات ناقص یا نادرست ، سفارش قابل پیگیری و تحویل نخواهد بود. بنابراین درج آدرس و شماره تماس توسط مشتری به منزله تایید صحت آن ها می باشد و در صورتی که این موارد به صورت کامل یا صحیح درج نشده باشد ، همکاران ما جهت اطمینان از صحت و قطعیت سفارش با مشتری تماس گرفته و اطلاعات بیشتری را درخواست خواهند کرد.
                    </li>
                    <li>
                        خریداران باید هنگام سفارش کالای مورد نظر ، فرم سفارش را با اطلاعات صحیح و به طور کامل تکمیل کنند . بدیهی است در صورت ورود اطلاعات ناقص یا نادرست ، سفارش قابل پیگیری و تحویل نخواهد بود . بنابراین درج آدرس و شماره تماس صحیح توسط مشتری به منزله مورد تایید
                        بودن صحت آن ها می باشد و در صورتی که این موارد به صورت کامل یا صحیح درج نشده باشد ، همکاران ما جهت اطمینان از صحت و قطعیت سفارش با مشتری تماس گرفته و اطلاعات بیشتری را درخواست می کنند .
                    </li>
                </ul>
            </p>
            <p class="text-center lead">
                <strong>هنگام ثبت سفارش</strong>
                <br>
                <ul>
                    <li>
                        در صورت وجود مغایرت میان قیمت مندرج در سایت و قیمت نهایی اعلام شده توسط کارخانه برای هر یک از محصولات، ما به التفاوت آن از مشتری دریافت و یا به مشتری عودت داده خواهد شد.<b>«تایید نهایی و ارسال سفارش منوط به تسویه حساب کامل می باشد»</b>
                    </li>
                </ul>
            </p>
            <p class="text-center lead">
                <stong>بعد از ثبت سفارش</stong>
                <br>
                <ul>
                    <li>
                        تمامی سفارشات قبل از ارسال با موجودی کارخانه مطابقت داده می شود؛ در صورت ناموجود بودن محصول پس از پرداخت مبلغ سفارش، بنا به درخواست
                        خریدار یا کالای مشابه جایگزین شده و ارسال می گردد و یا تمام مبلغ پرداختی عودت داده می شود.
                    </li>
                    <li>
                        هر گاه از سفارش خود منصرف شدید با واحد پشتیبانی تماس گرفته و اعلام انصراف نمائید؛ چنانچه سفارش شما توسط کارخانه تایید نشده باشد، خرید محصول مورد نظر لغو و مبلغ پرداختی (از طریق شماره شبا) عودت داده می شود.<b>«توجه:  در صورتی که سفارش توسط کارخانه تایید شده باشد، امکان انصراف از خرید و بازگشت مبلغ پرداخت شده وجود ندارد.»</b>
                    </li>
                    <li>
                        تحویل سفارش در اماکن عمومی همچون کافه ، کافی نت ، رستوران ، هتل و مانند آن امکان پذیر نیست و لازم است تا خریدار سفارشات را صرفا در محل باربری های مورد تایید عمده داران در شهر مقصد دریافت کند.
                    </li>
                    <li>
                        هزینه باربری بر عهده ی خریداران بوده و در مقصد اخذ می گردد.
                    </li>
                    <li>
                        خسارات ناشی از عدم آگاهی و ناتوانی مشتری در فرآیندهای ثبت سفارش، پرداخت، تحویل و یا استفاده از محصولات بر عهده عمده داران نمیباشد.
                    </li>
                </ul>
            </p>
            <p class="text-center lead"></p>


        </div>
    </section>
    <!-- /PAGE -->


</div>
<!-- /CONTENT AREA -->
